{% extends "index.html" %}
    {% block content %}
    <div class="login-clean" style="background-color: #f0f0f0;">
        <form method="post">
            {% csrf_token %}
            <h2 class="sr-only">Login Form</h2>
            <div class="illustration"><i class="fas fa-user" data-bs-hover-animate="pulse" style="color: #fe4851;"></i></div>
            <div class="form-group"><input class="form-control" type="text" name="username" placeholder="Username" style="background-color: rgb(233,236,239);"></div>
            <div class="form-group"><input class="form-control" type="password" name="password" placeholder="Password" style="background-color: rgb(233,236,239);"></div>
            <div class="form-group"><button class="btn btn-primary btn-block" type="submit" style="background-color: #e50914;">Log In</button></div><a class="forgot" href="" style="font-size: 14px;color: rgb(0,97,194);">Forgot your password?</a></form>
    </div>

    {% endblock %}


