{% extends "index.html" %}
{% load static %}

{% block content %}
<style>
    #image-size {
        height: 250px;
        object-fit: cover;
    }


</style>
<div class="photo-gallery" style="background-color: #f0f0f0;">
    <div class="container">
        <div class="intro"></div>
        <div class="row photos">
            {% for i in images %}
            <div class="col-sm-6 col-md-4 col-lg-3 item"><a data-lightbox="photos"  ><img id="image-size" class="img-fluid" src="{{i.image.url}}">{{i.description}}</a></div>
            {% endfor %}
        </div>
    </div>
    {% endblock %}