
{% extends "index.html" %}

{% block content %}
{% for user in users %}
<div class="team-grid" style="background-color: #f0f0f0;">
    <div class="container">
        <div class="intro"></div>
        <div class="row people" style="background-color: #f0f0f0;">
            <div class="col-md-4 col-lg-3 item">
                <div class="box" style="background-image:url(assets/img/1.jpg)">
                    <div class="cover">
                        <h3 class="name"></h3>
                        <p class="title"></p>
                        <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
                    </div>
                </div>
            </div>
            <h3>{{user.username}}</h3>
            <h3>{{user.email}}</h3>
            {% endfor%}
           
            <div class="col-md-4 col-lg-3 item">
                <div class="box" style="background-image:url(assets/img/3.jpg)">
                    <div class="cover">
                        <h3 class="name">Carl Kent</h3>
                        <p class="title">Stylist </p>
                        <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-3 item">
                <div class="box" style="background-image:url(assets/img/4.jpg)">
                    <div class="cover">
                        <h3 class="name">Felicia Adams</h3>
                        <p class="title">Model </p>
                        <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}